.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  background-color: greenyellow;
  pointer-events: none;
}

nav{
  background-image: linear-gradient(to right, #2dff00, #6dff00, #92ff00, #b0ff00, #caff00, #c7fd01, #c4fa02, #c1f803, #a2f212, #80ec20, #57e52d, #00de39);
}

.Card{
  display: grid;
  grid-template-columns: 15% 15%;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  text-align: center;
}

.Card p{
  background-color: #00de39;
  padding: 15px;
  color: white;
  border-radius: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
